@import "tailwindcss";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  --color-primary: #00AF63;
  --color-primary-hover: #00864C;
  --color-primary-light: #EBFFF6;
  --color-stroke: #E9EAEB;

}

.burger-icon-container{
  span.active:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.2s;
  }

  span.active:nth-child(2){
    top: 50%;
    transform: rotate(-45deg);
    transition: all 0.2s;
  }

  span.active:nth-child(3){
    display: none;
    transition: all 0.2s;
  }
}